 <div class="breatheVertical">
    <label>Title</label>
    <input  type="text" class="form-control" #title  placeholder="Enter Title">
  </div>
  <div class="breatheVertical">
    <label>Description</label>
    <input type="text" class="form-control" #description placeholder="Description">
  </div>
 <div class="breatheVertical">
   <label>Tags</label>
   <select #tag class="form-control">
     <option value="0" selected="selected"> </option>
     <option value="TECHNOLOGY">Technology</option>
     <option value="SCIENCE">Science</option>
     <option value="FOOD">Food</option>
     <option value="SPORTS">Sports</option>
     <option value="CARS">Cars</option>
   </select>
 </div>
 <div class="breatheVertical">
   <label>Write your blog here</label>
   <br>
   <textarea
     type="text" class="form-control inpBox" #blogContent placeholder="Write your blog here......"></textarea>
 </div>
 <div class="breatheVertical">
  <button type="submit" class="btn btn-primary" (click)="addBlog(title.value, description.value, tag.options[tag.selectedIndex].value,
    blogContent.value); ">Submit</button>
 </div>
